<div class="bigBox">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <img class="responsive-img logo" src="../../assets/img/main-logo.png" alt="hacktive logo">
      </div>
      <div class="col s12 center-align">
        <h3 class="text">SITIO EN CONSTRUCCIÓN</h3>
      </div>
    </div>
    <div class="form">
      <div class="row">
        <form class="col s12">
          <h4 class="center-align">Contactanos</h4>
          <div class="row">
            <div class="input-field col s12 m6">
              <input type="text" name="name" id="name">
              <label for="name">Nombre:</label>
            </div>
            <div class="input-field col s12 m6">
              <input type="text" name="email" id="email">
              <label for="name">Correo:</label>
            </div>
            <div class="input-field col s12">
              <textarea name="message" id="message" class="materialize-textarea"></textarea>
              <label for="message">Mensaje:</label>
            </div>
            <div class="col s12 center-align">
              <button class="waves-effect waves-light btn"><i class="material-icons left">send</i>Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
